
<h1> Jeff's Blog </h1>
<h2> You've reached the About page </h2>

<%= image_tag("http://clipartzebraz.com/cliparts/smiley-face/cliparti1_smiley-face_01.jpg") %>
<p>Jeff is a student in CodeCore's August 2015 cohort.</p>
